service_account_key_file = "Path/to/key.json"
appname                  = "reddit-app-prod"
dbname                   = "reddit-db-prod"
cloud_id                 = "Cloud-id"
folder_id                = "Folder-id"
zone                     = "ru-central1-a"
image_id                 = "Image-id"
public_key_path          = "Path/to/public"
subnet_id                = "Subnet_id"
private_key_path         = "Path/to/private"
count_int                = "2"
db_disk_image            = "db-id"
app_disk_image           = "app-id"
