{
  "service_account_key_file": "./key.json.example",
  "folder_id": "yc_folder_id",
  "image_name": "your-name-{{timestamp}}",
  "ruby": "scripts/install_ruby.sh",
  "mongo": "scripts/install_mongodb.sh",
  "deploy": "scripts/deploy.sh",
  "disk_size_gb": "5",
  "build_puma": "scripts/build_puma.sh"
}
